@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.down {
    display: none;
}



.contact-div {
    background-color: white;
    position: relative;
    width: 33%;
    padding-bottom: 30px;
    margin-left: 30%;
    margin-top: 80px;
    height: 50vh;
}

.form {
    margin-left: 30px;
    margin-top: 20px;
}

.text-head {
    padding-top: 15px;
    padding-left: 30px;
    color: black;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}

label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}



.left-label {
    position: absolute;
    margin-left: 40px;
}

.left-holder {
    position: absolute;
    margin-top: 45px;
    height: 30px;
    margin-left: 43px;
    border-top: 0px;
    border-left: 0px;
    width: 35%;
    font-size: 15px;
    border-right: 0px;
    border-color: rgb(250, 36, 36);
    
}

input:focus {
    outline: none;
}

.email-input {
    width: 70% !important;
    margin-top: 40px;
    font-size: 15px;
}

.input-div {
    margin-top: 45px;
    font-size: 15px;
    height: 30px;
    width: 35%;
    margin-left: 18px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(250, 36, 36);
}

.submit-button:hover {
    background-color: rgb(217, 208, 36);
    transition: 0.8s;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(250, 36, 36);
    border: 0px;
    border-radius: 4px;
    transition: 0.8s;
    width: 100px;
    height: 40px;
    margin-left: 18px;
    margin-top: 15px;
}
