html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
  }
  #gradient-canvas {
    position: relative;
    width:100vw;
    height:100vh;
    --gradient-color-1: #192656;
    --gradient-color-2: #084C67;
    --gradient-color-3: #312A45;
    --gradient-color-4: #3734E0;
    z-index:-1;
    filter: blur(8px);
    transform: scale(1.1); 
  }
  #gradient-canvas-container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 0;
    background: linear-gradient(180deg, rgba(25, 38, 86, 0) 0%, #06060A 100%);
  }
  
  h1, h2, h3 {
    font-family: sohne-var, "Helvetica Neue", Arial, sans-serif;
    font-weight: 800;
    font-size:4rem;
    color: #ffff;
    position:absolute;
    padding: 2rem;
    top:0px;
    z-index:100;
    text-align:center;
    width:100%;
    mix-blend-mode: difference;
  }